{% extends "layout.html" %}
{% block title %} {% endblock %}
{% block content %}



<div class="container mymodal">
    <div class="row">
        <div class="col-6">
            <canvas id="bar-chart" width="400" height="225"></canvas>
        </div>
        <div class="col-6">
            <canvas id="bar-chart-1" width="400" height="225"></canvas>
        </div>
    </div>
</div>

<script>
    new Chart(document.getElementById("bar-chart"), {
        type: 'bar',
        data: {
            labels: {{ x | tojson | safe }},
        datasets: [
        {
            label: "Sales",
            backgroundColor: ["#3e95cd", "#8e5ea2", "#3cba9f", "#e8c3b9", "#c45850"],
            data: {{ y | tojson | safe }}
                    }
    ]
            },
        options: {
        legend: { display: false },
        title: {
            display: true,
            text: 'Sales Per Product'
        }
    }
        });

    new Chart(document.getElementById("bar-chart-1"), {
        type: 'bar',
        data: {
            labels: ["Africa", "Asia", "Europe", "Latin America", "North America"],
            datasets: [
                {
                    label: "Population (millions)",
                    backgroundColor: ["#3e95cd", "#8e5ea2", "#3cba9f", "#e8c3b9", "#c45850"],
                    data: [2478, 5267, 734, 784, 433]
                }
            ]
        },
        options: {
            legend: { display: false },
            title: {
                display: true,
                text: 'Predicted world population (millions) in 2050'
            }
        }
    });
</script>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
    integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>


{% endblock %}