{% extends "layout.html" %}
{% block title %} {% endblock %}
{% block content %}





<style>
    /* Carousel Styles */
    .carousel-inner img {
        width: 60%;
        height: auto;
        margin: 0 auto;
        border-radius: 10px;
    }

    /* Content Styles */
    .content-container {
        text-align: center;
        margin: 20px 0;
    }

    .content-container h1 {
        margin-bottom: 10px;
        color: #343a40;
    }

    .content-container p {
        font-size: 1.1rem;
        color: #6c757d;
    }

    /* Card Styles */
    .card-container {
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }

    .card {
        width: 18rem;
        margin: 10px;
        border: none;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .card-title {
        color: #343a40;
    }

    .card-text {
        color: #6c757d;
    }

    .btn-primary {
        background-color: #343a40;
        border-color: #343a40;
    }

    .btn-primary:hover {
        background-color: #495057;
        border-color: #495057;
    }
</style>

<div class="content-container">
    <h1>Welcome to Myduka</h1>
    <h2> We handle <u>Retail and Logistics</u></h2>

</div>
<p>At Myduka, we bring the world to your doorstep with unparalleled retail and shipping solutions, ensuring
    every
    purchase and delivery is handled with utmost care and efficiency. Experience shopping like never before.</p>

<div id="carouselExampleIndicators" class="carousel slide">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="https://media.istockphoto.com/id/1299083810/photo/parcels-on-conveyor-belt-in-a-warehouse.jpg?s=612x612&w=0&k=20&c=NfF3liCWP5d6Btm1p0koY30msLa6K_kyCTE2xL8zOUo="
                class="d-block w-100" alt="image1">
        </div>
        <div class="carousel-item">
            <img src="https://cdn.shopify.com/s/files/1/0403/8760/8730/files/transportation-logistics_1024x1024.png?v=1704912022"
                class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="https://media.istockphoto.com/id/1418267688/photo/aerial-top-down-view-of-a-large-container-cargo-ship-with-copy-space.jpg?s=612x612&w=0&k=20&c=yp2Y2BxdYy5z4mpKT8fRc1uTf-ocJVNlGjjPNEo7jSM="
                class="d-block w-100" alt="...">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<div class="card-container mt-5">
    <div class="card col-4">
        <img src="/static/istockphoto-2168505525-612x612.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Analytics Dashboard</h5>
            <p class="card-text">Welcome to your dashboard! Here, you can track the performance of your sales
                activities and monitor profitability..</p>
            <a href="/dashboard" class="btn btn-primary">Go Dashboard</a>
        </div>
    </div>
    <div class="card col-4">
        <img src="/static/istockphoto-1249219777-612x612.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Manage Products</h5>
            <p class="card-text">Here you can manage your products by adding the details of the product youre
                adding to your inventory...</p>
            <a href="/products" class="btn btn-primary">Go to Products</a>
        </div>
    </div>
    <div class="card col-4">
        <img src="/static/istockphoto-1225609127-612x612.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Manage Sales</h5>
            <p class="card-text">Here you can manage your sales by tracking the amounts of sales
                received
                by a particular product.</p>
            <a href="/sales" class="btn btn-primary">Go to Sales</a>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>

</div>
{% endblock %}
